<form action="#" #myform="ngForm">
   {{mydata|json}}
   <br>
   {{myform.value|json}}
   <br>
   <input name="name" required #name="ngModel" type="text"  [(ngModel)]="mydata.name" [class.is-invalid]="name.invalid" >
   <br>
  <p [class.show]="name.valid">name is reqired</p>
   <br>
   <input name="email" required #email="ngModel"  [(ngModel)]="mydata.email"  type="email" [class.is-dirty]="email.dirty" class="input">
 <br>
   <input name="number" required #number="ngModel"  [(ngModel)]="mydata.number" type="number" [class.is-invalid]="number.invalid" class="input">
 <div *ngIf="number.errors&&number.invalid">
<p *ngIf="number.errors?.['required']">hello</p>
 </div>
</form>